// 1. Your custom variables and variable overwrites.
//$global-link-color: #DA7D02;

// 2. Import default variables and available mixins.
@import "./uikit/src/scss/variables-theme.scss";
@import "./uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.
//@mixin hook-card() { color: #000; }

// 4. Import UIkit.
@import "./uikit/src/scss/uikit-theme.scss";
@import "./flag-icon-css/sass/flag-icon";

ul.news-list li > div{
  position: relative;
}
ul.social-share{
  padding: 0;
}
.news-list .news-item img{
  margin-bottom: 0;
}
.property-card-list {
  height: 165px;
}
.news-list .news-item .news-body{
  position: relative;
}
.news-title{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.uk-grid .news-meta-info{
  height: 25px;
  margin-top: 0;
}
.main-content{
  margin-top: 30px;
  margin-bottom: 30px;
}

.main-content ul.news-list{
  margin-top: 10px;
  margin-bottom: 50px;
}
.navbar-shadow{
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}
#js-scroll-trigger{
  position: fixed;
  right: 50px;
  bottom: 50px;
}

.news-list .news-item .news-thumb img{
  width: 100%;
}

div.drop-languages {
  background-color: #fff !important;
  z-index: 2;
}